@using Microsoft.AspNetCore.Identity;
@using SocialNetwork.BLL.Models;
@inject SocialNetwork.BLL.Services.UserService UserService


@model SocialNetwork.ViewModels.MainViewModel;

@{
    ViewData["Title"] = "Main Page";
}

    <div class="row">
        <div class="side" >
            <div class="center">
                Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
            </div>
        <img class="main-img" src="https://muzawed.com/wp-content/uploads/2020/07/Social-networks-1140x600.png" />
        </div>

        <div class="main">

            <partial name="Login" model="Model.LoginView" />
            <partial name="Register" model="Model.RegisterView" />          

        </div>
    </div>
}