@using Microsoft.AspNetCore.Identity;
@using SocialNetwork.BLL.Models;
@using SocialNetwork.DLL.Entities
@inject SignInManager<UserEntity> SignInManager;
@inject UserManager<UserEntity> UserManager;

@model SocialNetwork.ViewModels.MainViewModel;

@{
    ViewData["Title"] = "Main Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{   <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
}
else
{
    <div class="row">
        <div class="side" >
            <div class="center">
                Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
            </div>
        <img class="main-img" src="https://muzawed.com/wp-content/uploads/2020/07/Social-networks-1140x600.png" />
        </div>

        <div class="main">

            <partial name="Login" model="Model.LoginView" />
            <partial name="Register" model="Model.RegisterView" />          

        </div>
    </div>
}