@inject SocialNetwork.BLL.Services.UserService UserService;

@model SocialNetwork.ViewModels.MainViewModel;

@{
    ViewData["Title"] = "Main Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (UserService.IsSignIn(User))
{   
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="AccountManager" asp-action="MyPage" type="text/html" >Привет @User.Identity.Name! Нажми на меня чтобы попасть на свою страницу!</a>
    </li>
}
else
{
    <div class="row">
        <div class="side" >
            <div class="center-align gray-text">
                Пользуйтесь нашей самой крутой соцсетью! Регистрируйтесь всего за 2 минуты, делитесь мыслями, находите новых друзей.
            </div>
            <img class="main-img" src="https://muzawed.com/wp-content/uploads/2020/07/Social-networks-1140x600.png" alt="Main picture"/>
        </div>

        <div class="main">

            <partial name="Login" model="Model.LoginView" />
            <partial name="Register" model="Model.RegisterView" />          

        </div>
    </div>
}