@model SocialNetwork.ViewModels.SearchViewModel;
@{
    ViewData["Title"] = "UserList";
}

<div class="block-reg background-white">

    @if (Model.UserList.Count != 0)
    {

        foreach (var user in @Model.UserList)
        {
            <div>
                <label>@user.GetFullName()</label>
                @if (user.User != null && !user.IsFriendWithCurrent)
                {
                    <form asp-controller="AccountManager"
                          asp-action="AddFriend"
                          asp-route-id="@user.User.Id"
                          method="post">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Добавить в друзья
                        </button>
                    </form>
                }
            </div>
        }
    }
    else
    {
        <div>
            <label> Поиск не дал результатов.</label>
        </div>
    }


</div>
