@{
    ViewData["Title"] = "Main Page";
}

<div class="row">
        <div class="side">
            Описание самой клевой соцсети
        </div>

        <div class="main">
            блок регистрации
            блок авторизации
        <partial name="Register" /> @*Возможно, что это не здесь должно быть*@
        </div>

</div>


       